@model Reaction.Models.Profile

<h2>Add profile</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Profiles"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Label("Username", "Username")
    <br />
    @Html.TextArea("Username", null, new { @class = "form-control" })
    @Html.ValidationMessage("Username", null, new { @class = "text-danger" })
    <br />
    @Html.Label("Description", "Description")
    <br />
    @Html.TextArea("Description", null, new { @class = "form-control" })
    @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
    <br />
    @Html.Label("Visibility","Visibility")
    @Html.Editor("Visibility")
    //<label>Select profile visibility</label>
    /*
    @Html.DropDownListFor(m => m.Visibility, new SelectList(Model.VisibleItems, "Value", "Text"),
    "Select profile visibility", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Visibility, "", new { @class = "text-danger" })
    */
    <br />

    <button class="btn btn-sm btn-success" type="submit">Create</button>

}