@model Reaction.Models.Group


@{
    ViewBag.Title = "Index";
}

<body class="container">
    <br />
    <br />
    <div class="row" style="display: inline-flex">
        <h2 style="margin: 0">Let's see our group</h2>
        @if (Request.IsAuthenticated)
        {
            <a class="btn btn-primary" href="/Groups/New" style="margin-left: 10px">New group</a>
        }
    </div>
    <br />

    <h3 class="row">@ViewBag.createCroup</h3>
    <h3 class="row">@ViewBag.newToGroup</h3>
    <h3 class="row">@ViewBag.editGroup</h3>
    <h3 class="row">@ViewBag.deleteGroup</h3>

    @foreach (var group in ViewBag.groups)
    {

        <div class="panel panel-default row">
            <div class="panel-heading" style=" padding: 10px">
                <h2 style="margin: 0">@group.Name</h2>
            </div>
            <div class="panel-body" style="padding:10px; display:flex">
                @if (ViewBag.IsAdmin == true || (ViewBag.LoggedIn == true && ViewBag.UserId == group.UserId))
                {
                    <form action="/Groups/Edit/@group.GroupId">
                        <button class="btn-sm btn-primary" type="submit" style="margin-right: 5px; border-width:0;">Edit Group</button>
                    </form>
                    <form method="post" action="/Groups/Delete/@group.GroupId">
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="btn-sm btn-primary" type="submit" style="margin-right: 5px; border-width:0;">Delete Group</button>
                    </form>
                }

                @if (ViewBag.LoggedIn == true && group.Profiles.Contains(ViewBag.profile) == false)
                {
                    <form method="post" action="/Groups/NewToGroup/@group.GroupId">
                        <button class="btn-sm btn-primary" type="submit" style="margin-right: 5px; border-width:0;">Join Group</button>
                    </form>
                }

                @if (ViewBag.LoggedIn == true && group.Profiles.Contains(ViewBag.profile))
                {
                    <form method="post" action="/Groups/NewToGroup/@group.GroupId">
                        <button class="btn-sm btn-primary" type="submit" style="margin-right: 5px; border-width:0;">Leave Group</button>
                    </form>
                }

                @if (ViewBag.isAdmin == true || (ViewBag.LoggedIn == true && group.Profiles.Contains(ViewBag.profile) == true))
                {
                    <form action="/Groups/Show/@group.GroupId">
                        <button class="btn-sm btn-primary" type="submit" style="margin-right: 5px; border-width:0;">Group posts</button>
                    </form>
                }
            </div>
        </div>
        <br />
        <br />
        <br />
    }
</body>