@model  Reaction.Models.Post


@{
    Layout = null;
    ViewBag.Message = "Here will be one post with comments";
}


@if (TempData.ContainsKey("NewPost"))
{
    <h1>@ViewBag.newPost</h1>
}
@if (TempData.ContainsKey("EditPost"))
{
    <h1>@ViewBag.editPost</h1>
}
@if (TempData.ContainsKey("DeletePost"))
{
    <h1>@ViewBag.deletePost</h1>
}

@if (TempData.ContainsKey("Permission"))
{
    <h1>@ViewBag.Permission</h1>
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h2>These are my posts</h2>

        <a class="btn btn-primary" href="/Posts/New">New post</a>
        <br />


        @foreach (Reaction.Models.Post post in ViewBag.Posts)
        {
            

            //  @Html.Partial("PostInfo", post)
            <div class="panel panel-default">
                <div class="panel-heading">This is my post!</div>
                <div class="panel-body">
                    Post text: <strong>@post.Content</strong>
                    <br />
                    <span class="label label-success">@post.Date</span>
                    <br />
                    Likes: <strong>@post.Likes</strong>
                    <br />
                    <a class="btn btn-primary" href="/Comments/New/@post.PostId">Add a new comment</a>
                    <br />
                    <a class="btn btn-primary" href="/Posts/Show/@post.PostId">Show post and comments</a>
                    <br />
                    <hr>
                </div>


            </div>
        }

    </div>
</body>
</html>


