@model  Reaction.Models.Post


@{
    ViewBag.Message = "Here will be one post with comments";
}


@if (TempData.ContainsKey("NewPost"))
{
    <h1>@ViewBag.newPost</h1>
}
@if (TempData.ContainsKey("EditPost"))
{
    <h1>@ViewBag.editPost</h1>
}
@if (TempData.ContainsKey("DeletePost"))
{
    <h1>@ViewBag.deletePost</h1>
}

@if (TempData.ContainsKey("Permission"))
{
    <h1>@ViewBag.Permission</h1>
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
 
    <div>
        <h2 class="col-md-push-0 row" style="margin-bottom: 20px">My posts</h2>
        

        <div class="row">
            @foreach (Reaction.Models.Post post in ViewBag.Posts)
            {
                if (post.UserId == ViewBag.UserId)
                { @Html.Partial("PostInfo", post)  }          }
        </div>
    </div>
</body>
</html>

